Brotli
click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas==1.0.5
plotly
python-dateutil
pytz
retrying
scikit-learn
scipy
six
sklearn
threadpoolctl
Werkzeug
waitress
sktime